#screen {
    /*width: 640px;
    height: 480px;
    background-color: #500000;*/
}

#controls {
    margin-top: 10px;
}

#inspector {
    padding: 10px;
}

#info {
    font-family: monospace;
    background-color: rgb(240, 240, 240);
    padding: 10px;
    margin-top: 10px;
}

#memory {
    height: 480px;
    overflow: auto;
    width: 100%;
}